* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(45deg, #26d84d, #1f90c5);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  min-height: 100vh;
}
header {
  font-size: 3rem;
  padding-top: 2rem;
  text-transform: uppercase;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: rgb(238, 237, 237);
}
form input{
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
form button {
  color: #26d84d;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
form button:hover {
  background: #159c33;
  color:#f7fffe;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 40%;
  list-style: none;
}

.ToDo {
  margin: 0.5rem;
  background: rgb(233, 233, 233);
  font-size: 1.5rem;
  color: rgb(10, 10, 10);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  border-radius: 10px;
}
.filter-todo {
  padding: 1rem;
}
.ToDo li {
  flex: 1;
}

.trash-button,
.complete-button {
  background: #159c33;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.trash-button{
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.complete-button {
  background: rgb(37, 54, 212);
}
.ToDo-Item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: rgb(10, 10, 10);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  width: 12rem;
  border-radius: 10px;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #159c33;
  cursor: pointer;
  pointer-events: none;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}